#myCarousel,
.carousel-item {
  height: 500px !important;
  margin-top: 48px;
}

.carousel-item {
  height: 100%;
}

.carousel {
  /* height: 100%; */
  /* width: 100vw; */
  margin-inline: auto;
  transform: translateY(-112px);
  z-index: 1;
}
.carousel-item img {
  width: 100%;
  height: auto !important;
}
.btnbanner {
  border-color: #3b5d50 !important;
  background-color: #3b5d50 !important;
  /* position: fixed; */
  /* bottom: 185px;
  position: absolute; */
  /* left: 80%; */
  /* transform: translateX(-50%); */
}
.btnbanner:hover {
  background-color: #f9bf29 !important;
  color: white !important;
  border-color: #f9bf29 !important;
}
.carousel-control-prev,
.carousel-control-next {
  margin-bottom: 200px;
}
.carousel-item .container {
  position: relative;
}
.carousel-caption {
  position: absolute;
  bottom: 20px; /* מרווח מהתחתית */
  right: -780px !important; /* ממקם במרכז האופקי של המיכל */
  transform: translateX(-50%); /* מתקן את המיקום כך שהוא באמת במרכז */
  width: auto; /* נותן אורך מלא בתוך המיכל */
  text-align: center; /* ממרכז את הטקסט בתוך הכפתור */
}
@media (max-width: 800px) {
  .btnbanner {
    padding: 8px 5px !important;
    font-size: 8px !important;
    /* bottom: 353px; */
  }
  .carousel-caption {
    right: -180px !important;
    bottom: 1px !important;
  }
  #myCarousel,
  .carousel-item {
    height: 150px !important;
    /* margin-top: 150px; */
    /* margin-bottom: 5px; */
    bottom: 4% !important;
    /* width: fit-content; */
  }

  .image-text-container {
    padding-top: -100px !important;
    /* margin-right: 30px; */
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
  .carousel-inner {
    height: 100%;
  }
  /* .btnbanner {
    bottom: 130px !important;
    padding: 8px 5px !important;
    font-size: 8px !important;
  } */
}

@media (max-width: 987px) {
  .carousel-caption {
    right: -450px !important;
    bottom: -20px !important;
  }
  .btnbanner {
    padding: 10px 8px !important;
    font-size: 10px !important;
  }
}
@media (max-width: 760px) {
  .carousel-caption {
    right: -350px !important;
    bottom: -11px !important;
  }
}
@media (max-width: 799px) {
  #myCarousel,
  .carousel-item {
    height: 100% !important;
    margin-top: 38px;
  }
  .carousel-caption {
    right: -350px !important;
    bottom: -5px !important;
  }
}
@media (max-width: 767px) {
  .carousel-caption {
    right: -170px !important;
  }
  .btnbanner {
    padding: 8px 5px !important;
    font-size: 8px !important;
  }
}
