.cart-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease;
  z-index: 10;
}

.cart-sidebar.open {
  right: 0;
}

.cart-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  color: #e5b55c !important;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.cart-items li {
  margin: 10px 0;
}

.checkout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.checkout-button:hover {
  background-color: #0056b3;
}
