/* הסל והחלון הצדדי הם ברירות מחד */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* החלון ברירה סגור בהתחלה */
  width: 300px;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease; /* אנימציה לפתיחה וסגירה חלקית */
  z-index: 10;
}

/* כאשר החלון נפתח */
.cart-sidebar.open {
  right: 0;
}

.cart-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  color: #e5b55c !important;
}

/* סגנון רשימת המוצרים בסל */
.cart-items {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.cart-items li {
  margin: 10px 0;
}

/* סגנון לכפתור התשלום */
.checkout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* אפקט המעבר בעזרת המשתמש */
.checkout-button:hover {
  background-color: #0056b3;
}
