.close-button {
  border: 1px solid #f9bf29;
  border-radius: 5px;
  background-color: #f9bf29;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.close-button:hover {
  background-color: #f9bf29;
}

.close-button:active {
  background-color: #f9bf29;
}

.btn-apply {
  color: #3b5d50 !important;
  background-color: #f9bf29 !important;
  border-color: #f9bf29 !important;
}

.btn-apply:hover {
  background-color: #3b5d50 !important;
  color: white !important;
  border-color: #3b5d50 !important;
}
.modal-title {
  color: #3b5d50;
  font-weight: 700;
}
@media (max-width: 800px) {
  td[data-label]::before {
    content: attr(data-label) !important;
    float: left;
    font-weight: bold;
  }

  td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 15px;
    display: block;
  }
}
