.form-border {
  border: 3px solid #3b5d50;
  padding: 15px;
  border-radius: 5px;
  background-color: #e5b55c;
  border-radius: 15px;
}

.form-label {
  color: #0a0a0a;
  font-weight: bold;
}

.container-shadow {
  background-color: #3b5d50;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
  padding: 10px;
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #007bff, #0056b3);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 0.3s ease-in-out;
}

.text:hover::before {
  transform: scaleX(1);
}

.custom-body-contact-us {
  background-image: url("../../../public/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.custom-container-contact-us {
  margin-left: 40% !important;
}

.custom-btn-contact-us {
  background-color: #3b5d50 !important;
  border-color: #3b5d50 !important;
}
@media (max-width: 1249px) {
  .form-border {
    width: 80%;
    margin: 0 auto 0 -40px;
    background-color: rgba(229, 181, 92, 0.8);
  }
  .custom-body-contact-us {
    background-position: bottom;
  }
}
