.navbar {
  background-color: #3b5d50;
}

.nav-link,
.navbar-brand {
  color: white;
}
.nav-link:hover {
  color: #e5b55c !important;
}

.footer {
  background-color: #3b5d50;
  color: #e5b55c !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.nav {
  color: white;
}
.custom {
  position: absolute;

  right: 0;
  transform: translateY(-35%);
  height: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 987px) {
  .custom {
    height: 150px;
    left: -5%;
  }
  .nav {
    margin-top: 10%;
  }
}
