.LoadMoreBtn:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.image-text-container {
  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  margin-block: 0.5rem;
}

.minibaner {
  color: #3b5d50;
  font-weight: 700;
}

/* .btnbanner {
  border-color: #3b5d50 !important;
  background-color: #3b5d50 !important;
}
.btnbanner:hover {
  background-color: #f9bf29 !important;
  color: white !important;
  border-color: #f9bf29 !important;
} */
/* /////////////// */

.view-mode-container {
  background-color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  margin-bottom: 5%;
}

.btn-view-mode {
  background-color: #f9bf29 !important;
  color: #fff;
  border: none;
  margin: 0 5px;
}

.btn-view-mode:first-child {
  margin-left: 0;
}

.btn-view-mode-text {
  color: #3b5d50;
  font-weight: bold;
  margin-right: 10px;
}
.btn-view-mode:active {
  background-color: white !important;
}
.dark-mode .image-text-container {
  background-color: #ffffff; /* dark green background */
  color: white; /* text color */
  margin-right: 1px;
  border-radius: 15px;
  justify-content: center;
}
.image-text-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark-mode .image-text-item p.minibaner {
  color: #f9bf29; /* Change the text color if needed */
}
.dark-mode .view-mode-container {
  background-color: unset;
}
.btn-view-mode-text {
  color: #f9bf29;
}

@media (max-width: 800px) {
  .image-text-container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .image-text-item img {
    transform: scale(0.5);
  }

  .image-text-item {
    /* flex: 0 0 24%; */
    box-sizing: border-box;
    text-align: center;
  }

  .img-banner {
    /* width: 100px; */
    /* height: auto;
    margin: 0 !important; */
  }
  .minibaner {
    margin-right: 10px;
  }

  .filter-container {
    margin-right: 35% !important;
    width: 50% !important;
  }
  .form-select {
    /* font-size: 0.8rem !important; */
    width: 145px !important;
  }
  .view-mode-container {
    justify-content: center;
  }
}
@media (max-width: 280px) {
  .filter-container {
    margin-right: 23% !important;
    width: 50% !important;
  }
  .btn-view-mode {
    margin-left: -45px !important;
  }
  .view-mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px;
    margin-left: 195px !important;
  }

  .btn-view-mode,
  .btn-view-mode-text {
    margin: 0;
    padding: 8px 96px;
  }
}
