.LoadMoreBtn:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.image-text-container {
  margin-top: 520px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-text-container {
  margin-right: 155px;
}

.minibaner {
  color: #3b5d50;
  font-weight: 700;
}

.btnbanner {
  border-color: #3b5d50 !important;
  background-color: #3b5d50 !important;
}
.btnbanner:hover {
  background-color: #f9bf29 !important;
  color: white !important;
  border-color: #f9bf29 !important;
}
/* /////////////// */

.view-mode-container {
  background-color: white;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
  margin-bottom: 5%;
}

.btn-view-mode {
  background-color: #f9bf29 !important;
  color: #fff;
  border: none;
  margin: 0 5px;
}

.btn-view-mode:first-child {
  margin-left: 0;
}

.btn-view-mode-text {
  color: #3b5d50;
  font-weight: bold;
  margin-right: 10px;
}
.btn-view-mode:active {
  background-color: white !important;
}
