.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-icon {
  cursor: pointer;
  color: #3b5d50;
  position: absolute;
  right: 235px;
  transform: translateY(-120%);
}

@media (max-width: 280px) {
  .password-icon {
    right: 190px !important;
  }
  .card {
    padding: 10px;
  }
}

@media (max-width: 800px) {
  .password-icon {
    right: 310px;
    transform: translateY(-155%);
  }
  .card {
    padding: 10px;
  }
}
