@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #3b5d50;
}

.custom-button {
  background-color: #e5b55c !important;
  color: white !important;
  border-color: #e5b55c !important;
}
.custom-text-color {
  color: #e5b55c;
}
.custom-text-colorr {
  color: #3b5d50;
}

.plus-sign,
.minus-sign {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alert-custom {
  padding: 5px !important;
  font-size: 0.8rem;
  margin-bottom: 0.2rem !important;
  width: 65px;
}
.input-small {
  width: 220px !important;
}

@media (max-width: 800px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .img-fluid {
    height: 70px !important;
    margin-bottom: 0.8em;
  }
  .col-md-3 {
    margin-bottom: 0.8em;
  }
  .col-12 {
    margin-top: 3.8em !important;
  }
}
