.border.p-3.m-5 {
  width: 80%;
}
.custom-border {
  margin: 3rem !important;
}
@media (max-width: 1249px) {
  .customforsmart {
    width: 100% !important;
    margin: 0 auto 0 -10px !important;
    background-position: 60% center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../public/formimg.png");
  }
  .border {
    color: white;
    background-color: rgba(59, 93, 80, 0.7);
    border-radius: 15px;
  }
}

@media (max-width: 800px) {
  .custom-border {
    margin: 0 !important;
    width: 37vh;
    margin-bottom: 5px !important;
  }
}

@media (max-width: 280px) {
  .custom-border {
    margin: 0 !important;
    width: 33vh;
    margin-bottom: 5px !important;
  }
}
