.border {
  color: white;
  background-color: #3b5d50;
  border-radius: 15px;
}

.custom-body {
  background-image: url("../../../public/formimg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom-text-contact {
  color: #f9bf29;
}
.custom-btn {
  background-color: #f9bf29 !important;
  border-color: #f9bf29 !important;
}
.custom-container {
  margin-left: 70% !important;
}
@media (max-width: 1280px) {
  .custom-body {
    width: 120% !important;
    margin: 0 auto 0 -225px !important;
    background-image: none;
  }
  .border {
    color: white;
    background-color: rgba(59, 93, 80, 0.8);
    border-radius: 15px;
  }
  .custom-container {
    background-position: 60% center;
    background-image: url("../../../public/formimg.png");
    background-size: contain;
    background-repeat: repeat;
  }
}
