.stats-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  color: white;
}

.stat-card.yellow {
  background-color: #f1c40f;
}

.stat-card.blue {
  background-color: #3498db;
}

.stat-card.green {
  background-color: #2ecc71;
}

.stat-value {
  font-size: 2em;
  font-weight: bold;
}

.stat-label {
  font-size: 1em;
}
